node_modules
test/config/zitadel/secrets/machine-key.json
bin/
# Generated certificates for local development
certs/
# Generated kubeconfig for local development
.kube/
# Generated etcd certificates for local development
dev/.kind-etcd-certs/
.sample-minimal-controlplane/