apiVersion: apps/v1
kind: Deployment
metadata:
  name: vector-audit-log-processor
  labels:
    app.kubernetes.io/name: vector-audit-log-processor
spec:
  replicas: 3
  selector:
    matchLabels:
      app.kubernetes.io/name: vector-audit-log-processor
  template:
    metadata:
      labels:
        app.kubernetes.io/name: vector-audit-log-processor
        app: vector-audit-log-processor
    spec:
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchLabels:
                  app: vector-audit-log-processor
              topologyKey: kubernetes.io/hostname
      containers:
        - name: vector-audit-log-processor
          image: timberio/vector:latest
          imagePullPolicy: IfNotPresent
          args:
          - --log-format=json
          - --verbose
          - --watch-config
          - --config-dir
          - /etc/vector/
          env:
            - name: LOKI_ENDPOINT
              value: "http://telemetry-system-loki.telemetry-system.svc.cluster.local:3100"
          volumeMounts:
            - name: vector-config
              mountPath: /etc/vector/
            - name: vector-buffer
              mountPath: /var/lib/vector
          ports:
            - containerPort: 9598
              name: metrics
              protocol: TCP
            - containerPort: 8081
              name: audit-log
              protocol: TCP
          resources:
            requests:
              cpu: 500m
              memory: 1Gi
            limits:
              cpu: 2
              memory: 2Gi
      volumes:
        - name: vector-config
          configMap:
            name: vector-config
        - name: vector-buffer
          emptyDir:
            sizeLimit: 10Gi
