apiVersion: v1
kind: Service
metadata:
  name: vector-audit-log-processor
  labels:
    app.kubernetes.io/name: vector-audit-log-processor
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: vector-audit-log-processor
  ports:
    - port: 9598
      targetPort: 9598
      name: metrics
      protocol: TCP
    - port: 8081
      targetPort: 8081
      name: audit-log
      protocol: TCP
  sessionAffinity: None
