---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: resourcemanager.miloapis.com
webhooks:
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: milo-controller-manager
      namespace: milo-system
      path: /mutate-iam-miloapis-com-v1alpha1-userdeactivation
      port: 9443
  failurePolicy: Fail
  name: muserdeactivation.iam.miloapis.com
  rules:
  - apiGroups:
    - iam.miloapis.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    resources:
    - userdeactivations
  sideEffects: None
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: milo-controller-manager
      namespace: milo-system
      path: /mutate-resourcemanager-miloapis-com-v1alpha1-project
      port: 9443
  failurePolicy: Fail
  name: mproject.datum.net
  rules:
  - apiGroups:
    - resourcemanager.miloapis.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    resources:
    - projects
  sideEffects: NoneOnDryRun
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: resourcemanager.miloapis.com
webhooks:
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: milo-controller-manager
      namespace: milo-system
      path: /validate-iam-miloapis-com-v1alpha1-user
      port: 9443
  failurePolicy: Fail
  name: vuser.iam.miloapis.com
  rules:
  - apiGroups:
    - iam.miloapis.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    resources:
    - users
  sideEffects: NoneOnDryRun
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: milo-controller-manager
      namespace: milo-system
      path: /validate-iam-miloapis-com-v1alpha1-userdeactivation
      port: 9443
  failurePolicy: Fail
  name: vuserdeactivation.iam.miloapis.com
  rules:
  - apiGroups:
    - iam.miloapis.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    resources:
    - userdeactivations
  sideEffects: None
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: milo-controller-manager
      namespace: milo-system
      path: /validate-resourcemanager-miloapis-com-v1alpha1-organization
      port: 9443
  failurePolicy: Fail
  name: vorganization.datum.net
  rules:
  - apiGroups:
    - resourcemanager.miloapis.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    resources:
    - organizations
  sideEffects: NoneOnDryRun
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: milo-controller-manager
      namespace: milo-system
      path: /validate-resourcemanager-miloapis-com-v1alpha1-project
      port: 9443
  failurePolicy: Fail
  name: vproject.datum.net
  rules:
  - apiGroups:
    - resourcemanager.miloapis.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - projects
  sideEffects: None
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: milo-controller-manager
      namespace: milo-system
      path: /validate-notification-miloapis-com-v1alpha1-emailtemplate
      port: 9443
  failurePolicy: Fail
  name: vemailtemplates.notification.miloapis.com
  rules:
  - apiGroups:
    - notification.miloapis.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - emailtemplates
  sideEffects: None
