---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: resourcemanager.miloapis.com
webhooks:
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: milo-controller-manager
      namespace: milo-system
      path: /mutate-iam-miloapis-com-v1alpha1-platformaccessapproval
      port: 9443
  failurePolicy: Fail
  name: mplatformaccessapproval.iam.miloapis.com
  rules:
  - apiGroups:
    - iam.miloapis.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    resources:
    - platformaccessapprovals
  sideEffects: None
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: milo-controller-manager
      namespace: milo-system
      path: /mutate-iam-miloapis-com-v1alpha1-platformaccessrejection
      port: 9443
  failurePolicy: Fail
  name: mplatformaccessrejection.iam.miloapis.com
  rules:
  - apiGroups:
    - iam.miloapis.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    resources:
    - platformaccessrejections
  sideEffects: None
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: milo-controller-manager
      namespace: milo-system
      path: /mutate-iam-miloapis-com-v1alpha1-platforminvitation
      port: 9443
  failurePolicy: Fail
  name: mplatforminvitation.iam.miloapis.com
  rules:
  - apiGroups:
    - iam.miloapis.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    resources:
    - platforminvitations
  sideEffects: None
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: milo-controller-manager
      namespace: milo-system
      path: /mutate-iam-miloapis-com-v1alpha1-userdeactivation
      port: 9443
  failurePolicy: Fail
  name: muserdeactivation.iam.miloapis.com
  rules:
  - apiGroups:
    - iam.miloapis.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    resources:
    - userdeactivations
  sideEffects: None
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: milo-controller-manager
      namespace: milo-system
      path: /mutate-iam-miloapis-com-v1alpha1-userinvitation
      port: 9443
  failurePolicy: Fail
  name: muserinvitation.iam.miloapis.com
  rules:
  - apiGroups:
    - iam.miloapis.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    resources:
    - userinvitations
  sideEffects: None
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: milo-controller-manager
      namespace: milo-system
      path: /mutate-notes-miloapis-com-v1alpha1-clusternote
      port: 9443
  failurePolicy: Fail
  name: mclusternote.notes.miloapis.com
  rules:
  - apiGroups:
    - notes.miloapis.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    resources:
    - clusternotes
  sideEffects: None
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: milo-controller-manager
      namespace: milo-system
      path: /mutate-notes-miloapis-com-v1alpha1-note
      port: 9443
  failurePolicy: Fail
  name: mnote.notes.miloapis.com
  rules:
  - apiGroups:
    - notes.miloapis.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    resources:
    - notes
  sideEffects: None
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: milo-controller-manager
      namespace: milo-system
      path: /mutate-notification-miloapis-com-v1alpha1-contact
      port: 9443
  failurePolicy: Fail
  name: mcontact.notification.miloapis.com
  rules:
  - apiGroups:
    - notification.miloapis.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    resources:
    - contacts
  sideEffects: None
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: milo-controller-manager
      namespace: milo-system
      path: /mutate-resourcemanager-miloapis-com-v1alpha1-project
      port: 9443
  failurePolicy: Fail
  name: mproject.datum.net
  rules:
  - apiGroups:
    - resourcemanager.miloapis.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    resources:
    - projects
  sideEffects: NoneOnDryRun
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: resourcemanager.miloapis.com
webhooks:
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: milo-controller-manager
      namespace: milo-system
      path: /validate-iam-miloapis-com-v1alpha1-platformaccessapproval
      port: 9443
  failurePolicy: Fail
  name: vplatformaccessapproval.iam.miloapis.com
  rules:
  - apiGroups:
    - iam.miloapis.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    resources:
    - platformaccessapprovals
  sideEffects: None
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: milo-controller-manager
      namespace: milo-system
      path: /validate-iam-miloapis-com-v1alpha1-platformaccessrejection
      port: 9443
  failurePolicy: Fail
  name: vplatformaccessrejection.iam.miloapis.com
  rules:
  - apiGroups:
    - iam.miloapis.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    resources:
    - platformaccessrejections
  sideEffects: None
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: milo-controller-manager
      namespace: milo-system
      path: /validate-iam-miloapis-com-v1alpha1-platforminvitation
      port: 9443
  failurePolicy: Fail
  name: vplatforminvitation.iam.miloapis.com
  rules:
  - apiGroups:
    - iam.miloapis.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    resources:
    - platforminvitations
  sideEffects: None
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: milo-controller-manager
      namespace: milo-system
      path: /validate-iam-miloapis-com-v1alpha1-user
      port: 9443
  failurePolicy: Fail
  name: vuser.iam.miloapis.com
  rules:
  - apiGroups:
    - iam.miloapis.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - users
  sideEffects: NoneOnDryRun
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: milo-controller-manager
      namespace: milo-system
      path: /validate-iam-miloapis-com-v1alpha1-userdeactivation
      port: 9443
  failurePolicy: Fail
  name: vuserdeactivation.iam.miloapis.com
  rules:
  - apiGroups:
    - iam.miloapis.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    resources:
    - userdeactivations
  sideEffects: None
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: milo-controller-manager
      namespace: milo-system
      path: /validate-iam-miloapis-com-v1alpha1-userinvitation
      port: 9443
  failurePolicy: Fail
  name: vuserinvitation.iam.miloapis.com
  rules:
  - apiGroups:
    - iam.miloapis.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    resources:
    - userinvitations
  sideEffects: None
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: milo-controller-manager
      namespace: milo-system
      path: /validate-identity-miloapis-com-v1alpha1-useridentity
      port: 9443
  failurePolicy: Fail
  name: vuseridentity.identity.miloapis.com
  rules:
  - apiGroups:
    - identity.miloapis.com
    apiVersions:
    - v1alpha1
    operations:
    - DELETE
    resources:
    - useridentities
  sideEffects: None
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: milo-controller-manager
      namespace: milo-system
      path: /validate-notes-miloapis-com-v1alpha1-clusternote
      port: 9443
  failurePolicy: Fail
  name: vclusternote.notes.miloapis.com
  rules:
  - apiGroups:
    - notes.miloapis.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - clusternotes
  sideEffects: None
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: milo-controller-manager
      namespace: milo-system
      path: /validate-notes-miloapis-com-v1alpha1-note
      port: 9443
  failurePolicy: Fail
  name: vnote.notes.miloapis.com
  rules:
  - apiGroups:
    - notes.miloapis.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - notes
  sideEffects: None
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: milo-controller-manager
      namespace: milo-system
      path: /validate-notification-miloapis-com-v1alpha1-contact
      port: 9443
  failurePolicy: Fail
  name: vcontact.notification.miloapis.com
  rules:
  - apiGroups:
    - notification.miloapis.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - contacts
  sideEffects: None
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: milo-controller-manager
      namespace: milo-system
      path: /validate-notification-miloapis-com-v1alpha1-contactgroup
      port: 9443
  failurePolicy: Fail
  name: vcontactgroup.notification.miloapis.com
  rules:
  - apiGroups:
    - notification.miloapis.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    resources:
    - contactgroups
  sideEffects: None
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: milo-controller-manager
      namespace: milo-system
      path: /validate-notification-miloapis-com-v1alpha1-contactgroupmembership
      port: 9443
  failurePolicy: Fail
  name: vcontactgroupmembership.notification.miloapis.com
  rules:
  - apiGroups:
    - notification.miloapis.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - contactgroupmemberships
  sideEffects: None
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: milo-controller-manager
      namespace: milo-system
      path: /validate-notification-miloapis-com-v1alpha1-contactgroupmembershipremoval
      port: 9443
  failurePolicy: Fail
  name: vcontactgroupmembershipremoval.notification.miloapis.com
  rules:
  - apiGroups:
    - notification.miloapis.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - contactgroupmembershipremovals
  sideEffects: None
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: milo-controller-manager
      namespace: milo-system
      path: /validate-notification-miloapis-com-v1alpha1-email
      port: 9443
  failurePolicy: Fail
  name: vemail.notification.miloapis.com
  rules:
  - apiGroups:
    - notification.miloapis.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    - DELETE
    resources:
    - emails
  sideEffects: None
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: milo-controller-manager
      namespace: milo-system
      path: /validate-notification-miloapis-com-v1alpha1-emailtemplate
      port: 9443
  failurePolicy: Fail
  name: vemailtemplate.notification.miloapis.com
  rules:
  - apiGroups:
    - notification.miloapis.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - emailtemplates
  sideEffects: None
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: milo-controller-manager
      namespace: milo-system
      path: /validate-resourcemanager-miloapis-com-v1alpha1-organization
      port: 9443
  failurePolicy: Fail
  name: vorganization.datum.net
  rules:
  - apiGroups:
    - resourcemanager.miloapis.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    resources:
    - organizations
  sideEffects: NoneOnDryRun
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: milo-controller-manager
      namespace: milo-system
      path: /validate-resourcemanager-miloapis-com-v1alpha1-organizationmembership
      port: 9443
  failurePolicy: Fail
  name: vorganizationmembership.datum.net
  rules:
  - apiGroups:
    - resourcemanager.miloapis.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    - DELETE
    resources:
    - organizationmemberships
  sideEffects: None
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: milo-controller-manager
      namespace: milo-system
      path: /validate-resourcemanager-miloapis-com-v1alpha1-project
      port: 9443
  failurePolicy: Fail
  name: vproject.datum.net
  rules:
  - apiGroups:
    - resourcemanager.miloapis.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - projects
  sideEffects: None
