---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: resourcemanager.miloapis.com
webhooks:
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: milo-controller-manager
      namespace: milo-system
      path: /mutate-resourcemanager-miloapis-com-v1alpha1-project
      port: 9443
  failurePolicy: Fail
  name: mproject.datum.net
  rules:
  - apiGroups:
    - resourcemanager.miloapis.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    resources:
    - projects
  sideEffects: None
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: resourcemanager.miloapis.com
webhooks:
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: milo-controller-manager
      namespace: milo-system
      path: /validate-resourcemanager-miloapis-com-v1alpha1-organization
      port: 9443
  failurePolicy: Fail
  name: vorganization.datum.net
  rules:
  - apiGroups:
    - resourcemanager.miloapis.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    resources:
    - organizations
  sideEffects: None
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: milo-controller-manager
      namespace: milo-system
      path: /validate-resourcemanager-miloapis-com-v1alpha1-project
      port: 9443
  failurePolicy: Fail
  name: vproject.datum.net
  rules:
  - apiGroups:
    - resourcemanager.miloapis.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    resources:
    - projects
  sideEffects: None
