apiVersion: apps/v1
kind: Deployment
metadata:
  name: milo-apiserver
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: milo-apiserver
      app.kubernetes.io/part-of: milo-control-plane
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: milo-apiserver
        app.kubernetes.io/part-of: milo-control-plane
    spec:
      automountServiceAccountToken: false
      containers:
      - image: ghcr.io/datum-cloud/milo:latest
        imagePullPolicy: IfNotPresent
        args:
          - apiserver
          - --authorization-mode=$(AUTHORIZATION_MODE)
          - --authentication-config=$(AUTHENTICATION_CONFIG)
          - --authentication-token-webhook-config-file=$(AUTHENTICATION_WEBHOOK_CONFIG_FILE)
          - --authentication-token-webhook-version=$(AUTHENTICATION_TOKEN_WEBHOOK_VERSION)
          - --authorization-webhook-config-file=$(AUTHORIZATION_WEBHOOK_CONFIG_FILE)
          - --authorization-webhook-version=$(AUTHORIZATION_WEBHOOK_VERSION)
          - --bind-address=$(BIND_ADDRESS)
          - --secure-port=$(SECURE_PORT)
          - --etcd-servers=$(ETCD_SERVERS)
          - --etcd-cafile=$(ETCD_CAFILE)
          - --etcd-certfile=$(ETCD_CERTFILE)
          - --etcd-keyfile=$(ETCD_KEYFILE)
          - --etcd-prefix=$(ETCD_PREFIX)
          - --tls-cert-file=$(TLS_CERT_FILE)
          - --tls-private-key-file=$(TLS_PRIVATE_KEY_FILE)
          - --service-account-key-file=$(SERVICE_ACCOUNT_KEY_FILE)
          - --service-account-issuer=$(SERVICE_ACCOUNT_ISSUER)
          - --client-ca-file=$(CLIENT_CA_FILE)
          - --tracing-config-file=$(TRACING_CONFIG_FILE)
          - --token-auth-file=$(TOKEN_AUTH_FILE)
          - --logging-format=$(LOGGING_FORMAT)
          - --v=$(LOG_LEVEL)
          - --audit-policy-file=$(AUDIT_POLICY_FILE)
          - --audit-webhook-config-file=$(AUDIT_WEBHOOK_CONFIG_FILE)
          - --audit-webhook-mode=$(AUDIT_WEBHOOK_MODE)
          - --audit-webhook-initial-backoff=$(AUDIT_WEBHOOK_INITIAL_BACKOFF)
          - --proxy-client-cert-file=$(PROXY_CLIENT_CERT_FILE)
          - --proxy-client-key-file=$(PROXY_CLIENT_KEY_FILE)
          - --feature-sessions=true
          - --sessions-provider-url=$(SESSIONS_PROVIDER_URL)
          - --sessions-provider-ca-file=$(SESSIONS_PROVIDER_CA_FILE)
          - --sessions-provider-client-cert=$(SESSIONS_PROVIDER_CLIENT_CERT_FILE)
          - --sessions-provider-client-key=$(SESSIONS_PROVIDER_CLIENT_KEY_FILE)
          - --feature-useridentities=true
          - --useridentities-provider-url=$(USERIDENTITIES_PROVIDER_URL)
          - --useridentities-provider-ca-file=$(USERIDENTITIES_PROVIDER_CA_FILE)
          - --useridentities-provider-client-cert=$(USERIDENTITIES_PROVIDER_CLIENT_CERT_FILE)
          - --useridentities-provider-client-key=$(USERIDENTITIES_PROVIDER_CLIENT_KEY_FILE)
          - --provider-timeout=3
          - --provider-retries=2
          - --forward-extras=iam.miloapis.com/parent-api-group,iam.miloapis.com/parent-type,iam.miloapis.com/parent-name
        env:
          - name: LOG_LEVEL
            value: "4"
          - name: LOGGING_FORMAT
            value: "json"
          - name: AUTHORIZATION_MODE
            value: "RBAC,Webhook"
          - name: AUTHENTICATION_CONFIG
            value: ""
          - name: AUTHENTICATION_WEBHOOK_CONFIG_FILE
            value: "/etc/kubernetes/config/authentication-config.yaml"
          - name: AUTHENTICATION_TOKEN_WEBHOOK_VERSION
            value: "v1"
          - name: AUTHORIZATION_WEBHOOK_CONFIG_FILE
            value: "/etc/kubernetes/config/authorization-config.yaml"
          - name: AUTHORIZATION_WEBHOOK_VERSION
            value: "v1"
          - name: BIND_ADDRESS
            value: "0.0.0.0"
          - name: SECURE_PORT
            value: "6443"
          - name: ETCD_SERVERS
            value: "https://etcd-headless.etcd-system.svc.cluster.local:2379"
          - name: ETCD_CAFILE
            value: "/etc/kubernetes/pki/trust/etcd/ca.crt"
          - name: ETCD_CERTFILE
            value: "/etc/kubernetes/pki/etcd/tls.crt"
          - name: ETCD_KEYFILE
            value: "/etc/kubernetes/pki/etcd/tls.key"
          - name: ETCD_PREFIX
            value: "/datum-core"
          - name: TLS_CERT_FILE
            value: "/etc/kubernetes/pki/apiserver/tls.crt"
          - name: TLS_PRIVATE_KEY_FILE
            value: "/etc/kubernetes/pki/apiserver/tls.key"
          - name: CLIENT_CA_FILE
            value: /etc/kubernetes/pki/trust/control-plane/ca.crt
          - name: SERVICE_ACCOUNT_KEY_FILE
            value: /etc/kubernetes/pki/trust/control-plane/ca.crt
          - name: SERVICE_ACCOUNT_ISSUER
            value: https://milo-apiserver.milo-system.svc.cluster.local
          - name: TRACING_CONFIG_FILE
            value: /etc/kubernetes/config/tracing-config.yaml
          - name: TOKEN_AUTH_FILE
            value: ""
          - name: AUDIT_POLICY_FILE
            value: ""
          - name: AUDIT_WEBHOOK_CONFIG_FILE
            value: ""
          - name: AUDIT_WEBHOOK_MODE
            value: ""
          - name: AUDIT_WEBHOOK_INITIAL_BACKOFF
            value: ""
          - name: PROXY_CLIENT_CERT_FILE
            value: ""
          - name: PROXY_CLIENT_KEY_FILE
            value: ""
          - name: SESSIONS_PROVIDER_URL
            value: ""
          - name: SESSIONS_PROVIDER_CA_FILE
            value: ""
          - name: SESSIONS_PROVIDER_CLIENT_CERT_FILE
            value: ""
          - name: SESSIONS_PROVIDER_CLIENT_KEY_FILE
            value: ""
          - name: USERIDENTITIES_PROVIDER_URL
            value: ""
          - name: USERIDENTITIES_PROVIDER_CA_FILE
            value: ""
          - name: USERIDENTITIES_PROVIDER_CLIENT_CERT_FILE
            value: ""
          - name: USERIDENTITIES_PROVIDER_CLIENT_KEY_FILE
            value: ""
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /livez
            port: https
            scheme: HTTPS
          initialDelaySeconds: 10
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 15
        name: milo-apiserver
        ports:
        - containerPort: 6443
          name: https
          protocol: TCP
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /readyz
            port: https
            scheme: HTTPS
          initialDelaySeconds: 10
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 15
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 512Mi
        startupProbe:
          failureThreshold: 30
          httpGet:
            path: /livez
            port: https
            scheme: HTTPS
          initialDelaySeconds: 10
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 15
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext:
        runAsUser: 65534
        runAsGroup: 65534
        fsGroup: 65534
        runAsNonRoot: true
      terminationGracePeriodSeconds: 30
