apiVersion: iam.miloapis.com/v1alpha1
kind: ProtectedResource
metadata:
  name: resourcemanager.miloapis.com-project
spec:
  serviceRef:
    name: "resourcemanager.miloapis.com"
  kind: Project
  plural: projects
  singular: project
  permissions:
    - list
    - get
    - create
    - update
    - delete
    - patch
    - watch
  parentResources:
    - apiGroup: resourcemanager.miloapis.com
      kind: Organization
