---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: milo-controller-manager
rules:
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - gateway.networking.k8s.io
  resources:
  - gatewayclasses
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - iam.miloapis.com
  resources:
  - groupmemberships
  verbs:
  - delete
  - list
- apiGroups:
  - iam.miloapis.com
  resources:
  - groups
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - iam.miloapis.com
  resources:
  - groups/finalizers
  - users/status
  verbs:
  - update
- apiGroups:
  - iam.miloapis.com
  resources:
  - groups/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - iam.miloapis.com
  resources:
  - policybindings
  verbs:
  - delete
  - list
  - update
- apiGroups:
  - iam.miloapis.com
  resources:
  - userdeactivations
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - iam.miloapis.com
  resources:
  - users
  verbs:
  - get
  - list
  - update
  - watch
- apiGroups:
  - infrastructure.miloapis.com
  resources:
  - projectcontrolplanes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - quota.miloapis.com
  resources:
  - allowancebuckets
  - resourcequotasummaries
  - resourceregistrations
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - quota.miloapis.com
  resources:
  - allowancebuckets/status
  - resourceclaims/status
  - resourcegrants/status
  - resourcequotasummaries/status
  - resourceregistrations/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - quota.miloapis.com
  resources:
  - resourceclaims
  - resourcegrants
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - resourcemanager.miloapis.com
  resources:
  - organizationmemberships
  verbs:
  - create
  - get
  - list
  - watch
- apiGroups:
  - resourcemanager.miloapis.com
  resources:
  - organizationmemberships/status
  - projects/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - resourcemanager.miloapis.com
  resources:
  - organizations
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - resourcemanager.miloapis.com
  resources:
  - projects
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - resourcemanager.miloapis.com
  resources:
  - projects/finalizers
  verbs:
  - update
