---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: milo-controller-manager
rules:
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - '*'
  resources:
  - '*'
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - apiregistration.k8s.io
  resources:
  - apiservices
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - apiregistration.k8s.io
  resources:
  - apiservices/status
  verbs:
  - patch
  - update
- apiGroups:
  - authorization.k8s.io
  resources:
  - subjectaccessreviews
  verbs:
  - create
- apiGroups:
  - dns.networking.miloapis.com
  resources:
  - dnszoneclasses
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - gateway.networking.k8s.io
  resources:
  - gatewayclasses
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - iam.miloapis.com
  resources:
  - groupmemberships
  verbs:
  - delete
  - list
- apiGroups:
  - iam.miloapis.com
  resources:
  - groups
  - policybindings
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - iam.miloapis.com
  resources:
  - groups/finalizers
  - platforminvitations/status
  - userinvitations/status
  verbs:
  - update
- apiGroups:
  - iam.miloapis.com
  resources:
  - groups/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - iam.miloapis.com
  resources:
  - platformaccessapprovals
  verbs:
  - create
  - get
  - list
  - watch
- apiGroups:
  - iam.miloapis.com
  resources:
  - platformaccessrejections
  verbs:
  - delete
  - get
  - list
  - watch
- apiGroups:
  - iam.miloapis.com
  resources:
  - platforminvitations
  verbs:
  - get
  - list
  - update
  - watch
- apiGroups:
  - iam.miloapis.com
  resources:
  - roles
  - userdeactivations
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - iam.miloapis.com
  resources:
  - userinvitations
  verbs:
  - delete
  - get
  - list
  - update
  - watch
- apiGroups:
  - iam.miloapis.com
  resources:
  - userpreferences
  - users
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - iam.miloapis.com
  resources:
  - users/status
  verbs:
  - patch
  - update
- apiGroups:
  - infrastructure.miloapis.com
  resources:
  - projectcontrolplanes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - notes.miloapis.com
  resources:
  - clusternotes
  - notes
  verbs:
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - notes.miloapis.com
  resources:
  - clusternotes/status
  - notes/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - notification.miloapis.com
  resources:
  - contacts
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - notification.miloapis.com
  resources:
  - contacts/status
  verbs:
  - update
- apiGroups:
  - notification.miloapis.com
  resources:
  - emails
  verbs:
  - create
  - get
  - list
  - watch
- apiGroups:
  - notification.miloapis.com
  resources:
  - emailtemplates
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - quota.miloapis.com
  resources:
  - allowancebuckets
  - claimcreationpolicies
  - grantcreationpolicies
  - resourceclaims
  - resourcegrants
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - quota.miloapis.com
  resources:
  - allowancebuckets/status
  - claimcreationpolicies/status
  - grantcreationpolicies/status
  - resourceclaims/status
  - resourcegrants/status
  - resourceregistrations/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - quota.miloapis.com
  resources:
  - resourceregistrations
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - resourcemanager.miloapis.com
  resources:
  - organizationmemberships
  verbs:
  - create
  - get
  - list
  - watch
- apiGroups:
  - resourcemanager.miloapis.com
  resources:
  - organizationmemberships/status
  - projects/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - resourcemanager.miloapis.com
  resources:
  - organizations
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - resourcemanager.miloapis.com
  resources:
  - projects
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - resourcemanager.miloapis.com
  resources:
  - projects/finalizers
  verbs:
  - update
