apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
namespace: milo-system
configMapGenerator:
  - name: milo-iam-resource-metrics
    files:
    - users.yaml
    - groups.yaml
    - group_memberships.yaml
    - machine_accounts.yaml
    - machine_account_keys.yaml
    - policybindings.yaml
    - roles.yaml
    - user_invitations.yaml
    options:
      labels:
        telemetry.datumapis.com/core-resource-metrics-config: "true"
