apiVersion: iam.miloapis.com/v1alpha1
kind: Role
metadata:
  name: iam-user-self-manage
  annotations:
    kubernetes.io/description: "Allows users to manage their own user account."
spec:
  launchStage: Beta
  includedPermissions:
  - iam.miloapis.com/users.get
  - iam.miloapis.com/users.update
  - iam.miloapis.com/users.patch
  - iam.miloapis.com/users.delete
  - resourcemanager.miloapis.com/organizationmemberships.list
  - resourcemanager.miloapis.com/organizationmemberships.get
  - resourcemanager.miloapis.com/organizationmemberships.delete
  - identity.miloapis.com/sessions.list
  - identity.miloapis.com/sessions.get
  - identity.miloapis.com/sessions.delete
  - zitadel.identity.miloapis.com/sessions.list
  - zitadel.identity.miloapis.com/sessions.get
  - zitadel.identity.miloapis.com/sessions.delete
