name: Build and Publish Docker Image

on:
  push:
  release:
    types: ["published"]

jobs:
  build-and-push:
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v3.3.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Extract metadata
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ghcr.io/datum-cloud/iam-apiserver
        tags: |
          type=schedule
          type=ref,event=branch
          type=ref,event=pr
          type=ref,event=branch,suffix=-{{commit_date 'YYYYMMDD-HHmmss'}}
          type=semver,pattern={{version}}
          type=semver,pattern={{major}}.{{minor}}
          type=semver,pattern={{major}}
          type=sha

    - name: Build iam-apiserver
      id: push
      uses: docker/build-push-action@v6.7.0
      with:
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
